<%-include("./partials/header.ejs") %>
        <div class="content">
            <h1>Not all classrooms have four walls</h1>
            <p>If you think Gemini people to be reliable,<br>then there is a chance that you are making a mistake.
            </p>
            <div>
                <button type="button" class="bt1"><span class="sp1"></span><a href="register" class="link">Register</a></button>
                <button type="button" class="bt2"> <span class="sp2"></span><a href="login" class="link">Login</a></button>
            </div>
        </div>
    </div>

    <%-include("./partials/footer.ejs") %>
